@font-face {
    font-family: "Atkin";
    src: url("fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
    font-weight: bold;
  }

@font-face {
    font-family: "Atkin";
    src: url("fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
  }

@font-face {
    font-family: "Atkin";
    src: url("fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
    font-weight: regular;
  }

@font-face {
    font-family: "Atkin";
    src: url("fonts/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2");
    font-weight: regular;
    font-style: italic;
  }

body {
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    font-family: 'Atkin';
    background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    overflow: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#instructions {
    font-size: 1.1rem;
    margin: 1rem 0 0.2rem 0;
    font-family: 'Source Sans Pro';
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}


.action, #or {
    display:none;
    margin: 0;
    transition: color 0.2s transform 0.2s ease-in-out;
    padding-top: 0.4rem;
}

#or {
    margin: 0rem 0.5rem 0rem 0.4rem;
}


.action {
    border-bottom: 0.15rem double #e31c23be;
}

.suits {
    margin: 0 1rem 0.45rem;
    height: 2rem;
    font-style: normal;
    border: none;
}

#start {
    display: flex;
}

.hover:hover {
    cursor: pointer;
    color: #E31C24;
    transform: scale(1.05);
}

.cards{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    border-radius: 0.8rem;
    margin: 8px 8px;
    box-shadow: 0 0.5rem 1.5rem -0.2rem rgba(0, 0, 0, 0.20);
}

@media (max-width: 345px) {
    #instructions {
        font-size: 1.1rem;
        margin: 0.5rem 0 0.2rem 0;
        font-family: 'Source Sans Pro';
    }
    .card {
        width: 125px;
    }
}

.card1 {
    width: 250px;
}

#card2, #card3, #card4 {
    display: none;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button {
    width: 35%;
    background: none;
    color: #E31C24;
    border: none;
    margin: 0.3rem 0.6rem;
    padding: 0.5rem 0rem;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    border-radius: 0.3rem;
    font-weight: bold;
    transition: background-color 0.2s transform 0.2s ease-in-out;
  }

@media (min-width: 720px) {
    .button {
        width: 15%;
    }
}
  
.button:hover{
    background-color: #e31c231c;
    cursor: pointer;
    transform: scale(1.04);
}

.button:focus {
    outline: none;
    }


.response {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.3s ease-in-out;
}

.correct {
    background-color: rgba(0, 128, 0, 0.5);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.5);
}

.responseEffect {
    margin-top: 100vh;
    background-color: rgba(255, 255, 255, 0);
}

.responseMsg {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
}
